.btn {
	padding:10px 20px;
	display:inline-block;
	border-radius:3px;
	background:#ccc;
	font-size:16px;
	color:#333;
}

.bttn {
  padding:20px 30px;
  font-size:22px;
	background: violet;
}

.btn.large {
	padding:20px 30px;
  font-size:22px;
	background: burlywood;
}

.test {
  background: yellow;
}

// .btn {
//     border: 1px solid $color-border;
//     border-radius: $space-s;
//     color: $color-dark-text;
//   }
  
//   .btn--disabled {
//     background-color: $color-disabled;
//     color: $color-light-text;
//   } 
  
  